form {
    background-color: var(--dark-grey);
    width: 60%;
    padding: 3%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 0 50px;
}

.contact-links{
    display: flex;
    width: 60%;
    justify-content: space-evenly;
    margin-bottom: 20px;
}


.icon {
    padding: 10px;
}

p {
    font-size: 3rem;
}

.styled-input label {
    color: white;
    position: relative;
    top: -40px;
    left: 20px;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
}

input,
textarea {
    margin: 10px 0 10px 0;
    padding: 10px;
    border: 0;
    width: 97%;
    font-size: 1rem;
    background-color: rgb(80, 77, 85);
    color: white;
    border-radius: 4px;
}

input:focus,
textarea:focus { outline: 0; }

button {
    background-color: var(--blue);
    border: none;
    color: white;
    font: var(--font);
    padding: 5px 10px;
    border-radius: 2px;
    margin-top: 10px;
    transition: .2s;
}

button:hover {
    background-color: white;
    color: var(--blue);
}

.right {
    display: flex;
    justify-content: end;
}